# compiled output
/dist
/dist.server-latest
/node_modules
/.npm-cache
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Tests
/coverage

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.*
!.env.example

# uploads and backups
/uploads
/backups
*.sql
